form .descTextField {
  margin: 0 0rem;
  width: 100%;
}

.addTaskForm {
  display: block;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.blankSpace {
  height: 30px;
}

.blankSpace2 {
  height: 30px;
}

.blankSpace3 {
  height: 10px;
}

.editorHeader {
  float: left;
  padding-top: 10px;
}

.editorClose {
  float: right;
}
