form .descTextField {
  margin: 0 0rem;
  width: 100%;
}

.addTaskForm {
  display: block;
  align-items: center;
  justify-content: center;
  width: 75%;
  /* margin: 0 2rem; */
}

.split {
  display: flex;
  flex-direction: row;
}

.blankSpace {
  height: 50px;
}

.blankSpace2 {
  height: 30px;
}

.left {
  height: 100%;
  width: 25%;
  padding-left: 3rem;
  /* align-items: center; */
  /* padding-right: 2rem; */
}

.right {
  height: 100%;
  width: 75%;
  border-left: 8px solid #bbb;
  padding-left: 5rem;
  padding-right: 2rem;
}

table.tasks {
  border-collapse: collapse;
}

table.tasks tr {
  border-bottom: 1px solid black;
}

.tasks thead th:nth-child(1) {
  width: 10%;
}

.tasks thead th:nth-child(2) {
  width: 40%;
}

.tasks thead th:nth-child(3) {
  width: 15%;
}

.tasks thead th:nth-child(4) {
  width: 15%;
}

.tasks thead th:nth-child(5) {
  width: 5%;
}

.tasks thead th:nth-child(6) {
  width: 5%;
}

.tasks thead th:nth-child(7) {
  width: 10%;
}

.tasks td {
  padding: 20px;
  font-family: proxima-nova, sans-serif;
  font-size: 14px;
}
