form .descTextField {
  margin: 0 0rem;
  width: 100%;
}

.addTaskForm {
  display: block;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* margin: 0 2rem; */
}

.titleWrap {
  background-color: black;
  padding-top: 1rem;
}

.newTaskTitle {
  margin: 0 0rem;
  padding-left: 10%;
  padding-bottom: 2%;
  background-color: black;
  color: white;
}

.formWrap {
  width: 100%;
  padding: 10%;
}

.split {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.blankSpace {
  height: 30px;
}

.blankSpace2 {
  height: 30px;
}

.left {
  height: 100%;
  width: 60%;
  padding-left: 3rem;

  /* align-items: center; */
  /* padding-right: 2rem; */
}

.right {
  height: 100%;
  width: 40%;
  border-left: 1px solid #bbb;
  background-color: #f0f0f5;
}

table.tasks {
  border-collapse: collapse;
}

table.tasks tr {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}
/*
.tasks thead th:nth-child(1) {
  width: 5%;
}

.tasks thead th:nth-child(2) {
  width: 30%;
}

.tasks thead th:nth-child(3) {
  width: 15%;
}

.tasks thead th:nth-child(4) {
  width: 15%;
}

.tasks thead th:nth-child(5) {
  width: 5%;
}

.tasks thead th:nth-child(6) {
  width: 5%;
}

.tasks thead th:nth-child(7) {
  width: 10%;
} */

.tasks td {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: proxima-nova, sans-serif;
  font-size: 14px;
  overflow-wrap: break-word;
  text-align: left;
  /* max-width: 5rem; */
}

/* .tasks tbody td:nth-child(1) {
  border-right: 1px solid black;
  background-color: #56ab2f; 
} */

.tasks tbody td:nth-child(1) {
  width: 2%;
}

.tasks tbody td:nth-child(2) {
  width: 7%;
}

.tasks tbody td:nth-child(3) {
  width: 43%;
}

.tasks tbody td:nth-child(4) {
  width: 15%;
}

.tasks tbody td:nth-child(5) {
  width: 12%;
}

.tasks tbody td:nth-child(6) {
  width: 21%;
}

.buttonCell {
  text-align: center;
}

.taskTitle {
  padding-bottom: 5px;
}

.dueDateCurrent {
  color: #0099ff;
}

.dueDateOverdue {
  color: #ff0000;
}
